* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
@import "global.css";

.header__container {
    display: flex;
    flex-direction: row;
}

.header__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__left, .header__right {
    display: flex;
    flex-direction: row;
    padding: 0 35px;
    align-items: center;
}

.header {
    border-bottom: 2px solid #d0d0d0;
}

.header__logo {
    padding: 10px 10px 7px 10px;
    border-right: 2px solid #d0d0d0;
}

/*.header__logoimg {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*}*/

.nav__item {
    padding: 10px;
}

.header__arrow {
    color: #007EFF;
    font-size: 2rem;
}

.nav__link {
    color: #38455D;
    text-decoration: none;
    font-weight: bold;
}

.nav__link_active {
    font-weight: normal;
}

.nav__slidable {
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge {
    position: absolute;
    color: white;
    background: red;
    border-radius: 50px;
    padding: 3px;
}

.nav__notif {
    position: relative;
    font-size: 2rem;
}

.nav__badge {
    top: 0;
    left: 30%;
    font-size: .7rem;
}

.main__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.main__wrapper {
    margin: 0 40px;
}

.header__download {
    font-weight: bold;
    font-size: 1.5rem;
}

.header__reset {
    color: #007EFF;
    text-decoration: none;
    font-weight: bold;
}

.main__reports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
}

.main__col {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.report {
    border: 2px solid #d0d0d0;
    border-radius: 5px;
    padding: 40px;
}

.report__download {
    display: flex;
    gap: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    background: #007EFF;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.button:hover {
    background: #0061cc;
}

.button:active {
    background: #00408c;
}

.button_disabled {
    background: #d0d0d0;
    cursor: not-allowed;
}

.button_disabled:hover {
    background: #d0d0d0;
}

.button_disabled:active {
    background: #d0d0d0;
}

.report__title {
    color: #38455D;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #d0d0d0;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.report__icon {
    filter: opacity(0.4);
}

.report__check {
    display: flex;
    justify-content: space-between;
    padding: 0 0 50px 0;
    /*margin-bottom: 20;*/
}

.report__checkbox {
    /*scale: 3;*/
    /*margin-left: 14px;*/
}

.report__icon {
    color: #8f8f9d;
}

.report__general {
    display: flex;
}

.ritem__link {
    color: #007EFF;
    text-decoration: none;
}

.ritem__check {
    display: flex;
    gap: 5px;
}

.ritem__download {
    display: flex;
    gap: 5px;
}

.ritem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.ritem_bottom {
    margin-bottom: 120px;
}

.ritem_low {
    margin-bottom: 10px;
}

.rcounter {
    margin-bottom: 10px;
}

.rcounter__check {
    display: flex;
    justify-content: space-between;
}

.rcounter__right {
    color: #6b6b6b;
}

.rcounter__arrow_down {
    color: #007EFF;
}

.report__wrapper > * {
    border-bottom: #d0d0d0 1px solid;
    padding: 10px 0;
}

.report__wrapper_closed > * {
    border-bottom: none;
    padding-bottom: 30px;
}

.main {
    margin-bottom: 40px;
}

.checkbox {
    width: 50px;
    height: 50px;
    border: 2.5px #d0d0d0 solid;
    border-radius: 5px;
}

.nav__item_last {
    padding-right: 0;
}
